main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #eee;
  margin: 0;
  padding-bottom: 50px;
}

h1, h2 {
  font-family: 'Georgia', serif;
  color: #8bc34a;
}

header {
  background-color: #222;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #8bc34a;
}

img {
  max-width: 300px;
  border: 3px solid #8bc34a;
  box-shadow: 0 0 10px #333;
}

img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

button {
  background-color: #8bc34a;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #4caf50;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.contenedor-personajes {
  display: flex;
  justify-content: center;   
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.personaje {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.personaje img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

main ul {
  list-style: none;
  padding: 0;
}

main ul li {
  background-color: #222;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
}

input, textarea {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  width: 40%;
}
